<h1>Home Page</h1>

<h2>Search by papers</h2>
<form action="/search_papers" method="post">

    <label for="id">DOI:</label>
    <input type="text" id="id" name="id" placeholder="DOI" style="margin-bottom: 10px;"><br>

    <label for="title">Title:</label>
    <input type="text" id="title" name="title" placeholder="title" style="margin-bottom: 10px;"><br>

    <label for="authors">Authors:</label>
    <input type="text" id="authors" name="authors" placeholder="author1, author2" style="margin-bottom: 10px;"><br>

    <label for="venue">Venue:</label>
    <input type="text" id="venue" name="venue" placeholder="venue" style="margin-bottom: 10px;"><br>

    <label for="citations">Min. Citations:</label>
    <input type="number" id="citations" name="citations" placeholder="citations" min="0" style="margin-bottom: 10px;"><br>

    <label for="year">Year of publication:</label>
    <input type="number" id="year" name="year" placeholder="year" min="0" max="2024" style="margin-bottom: 10px;"><br>

    <label for="field">Field of Study:</label>
    <input type="text" id="field" name="field" placeholder="field" style="margin-bottom: 10px;"><br>

    <button type="submit">Search</button>
</form>

<h2>Search by Patents</h2>
<form action="/search_patents" method="post">

    <label for="patent_id">ID:</label>
    <input type="text" id="patent_id" name="patent_id" placeholder="ID" style="margin-bottom: 10px;"><br>

    <label for="patent_title">Title:</label>
    <input type="text" id="patent_title" name="patent_title" placeholder="title" style="margin-bottom: 10px;"><br>

    <label for="patent_year">Year:</label>
    <input type="number" id="patent_year" name="patent_year" placeholder="year" min="0" max="2024" style="margin-bottom: 10px;"><br>

    <label for="author_name">Author Name:</label>
    <input type="text" id="author_name" name="author_name" placeholder="author" style="margin-bottom: 10px;"><br>

    <label for="assignee_organization">Assignee Organization:</label>
    <input type="text" id="assignee_organization" name="assignee_organization" placeholder="organization" style="margin-bottom: 10px;"><br>

    <label for="patent_abstract">Patent Abstract:</label>
    <input type="text" id="patent_abstract" name="patent_abstract" placeholder="abstract" style="margin-bottom: 10px;"><br>

    <button type="submit">Search</button>
</form>