<h1>Home Page</h1>
<h2>Search by papers</h2>
<form action="/search" method="post">
    <input type="text" name="title" placeholder="Enter paper title">
    <input type="text" name="authors" placeholder="Enter authors, separated by commas" />
    <input type="text" name="venue" placeholder="Enter paper venue">
    <input type="number" name="citations" placeholder="Enter minimum number of citations" min="0">
    <input type="number" name="year" placeholder="Enter publication year" min="0" max="2024">
    <input type="text" name="field" placeholder="Enter the field of study">
    <button type="submit">Search</button>
</form>